html {
	display: table;
	margin: auto;
}
body {
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

a {
	color: #884400;
	font-weight: bold;
	text-decoration: none;
}
textarea { width: 384px; height: 128px; }

.hfer,
#container, 
#menu, 
#content {
	border: 4px solid #0033CC;
}

.hfer { padding: 2px; }

#container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

#menu {
	float: left;
	background: orange;
	padding: 16px;
}
#menu a {
	color: #FFF;
	text-decoration: none;
}
#menu h5 {
	text-shadow: -1px -1px 0 #002299, 1px -1px 0 #002299, -1px 1px 0 #002299, 1px 1px 0 #002299;
}

#content {
	background: rgba(255, 216, 204, 0.5);
	flex-grow: 1;
	text-align: center;
	color: #000;
	overflow-y: scroll;
	width: 512px;
	height: 768px;
	padding: 8px;
}

#table-train td {
	text-align: center;
	width: 100px;
	padding: 3px;
}

.table-atts {
	text-align: center;
	border: 2px solid #002299;
}
.table-atts th {
	width: 50px;
	border: 1px solid black;
}

.table-skill {
	text-align: center;
	border: 4px solid #0033CC;
}
.table-skill th {
	color: white;
	background: orange;
	padding: 8px;
	text-shadow: -1px -1px 0 #002299, 1px -1px 0 #002299, -1px 1px 0 #002299, 1px 1px 0 #002299;
}
.table-skill td { font-weight: bold; }

.table-team { text-align: center; }
.table-team td {
	height: 18px;
	width: 16px;
}

#ttd {
	height: 100%;
	background: #002299;
}

.select-clan {
	color: white;
	font-weight: bold;
	background: orange;
	padding: 8px;
	border: 4px solid #0033CC;
	border-radius: 4px;
	text-shadow: -1px -1px 0 #002299, 1px -1px 0 #002299, -1px 1px 0 #002299, 1px 1px 0 #002299;
}
.select-clan option {
	color: #0033CC;
	padding: 2px;
}

.select-skill {
	color: #0033CC;
	background: orange;
	border: 1px solid #0033CC;
	padding: 2px;
	margin: 8px;
}

.barprogt {
	height: 8px;
	width: 100px;
	border: 2px solid #0033CC;
	border-radius: 8px;
}

.bartrain {
	background-color: orange;
	height: 8px;
	border-radius: 8px;
}

#bp {
	background: lightgray;
	height: 8px;
	width: 100px;
	border: 2px solid #002299;
	border-radius: 8px;
}
#bt {
	background: orange;
	height: 8px;
	border-radius: 8px;
}

#nada {
	background: rgba(127, 127, 127, 0.1);
	background-image: linear-gradient(orange 1%, white);
}